body {
    background-image: url(../images/bg.png);
    background-size: auto;
    background-repeat: repeat;
}

h1 {
    color: white;
}

.title-head {
    justify-content: center;
    font-family: 'Baloo Bhai', cursive;
}


.jumbotron{
    background: url("../images/jumbo.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

nav {
width: auto;
}

.firstCol {
    align-content: center;
    width: 420px;
    height: 225px;
}

.secondCol {
    width: 150px;
    height: 225px;
}
#displayName {
    font-size: 15px;
}

p {
    text-align: center;
}

.card-header{
    font-family: 'Varela Round', sans-serif;
} 

.thirdCol {
    align-content: center;
    width: 720px;
    height: 405px;
}

.fourthCol {
    align-content: left;
    text-align: center;
    height: 100px;
    width: 400px;
}

.logo {
    font-family: 'Varela Round', sans-serif;
    font-size: 2px;
}
.logo-center {
    font-family: 'Baloo Bhai', cursive;
    display: inline-block;
    margin-right: 50px;
    font-size: 2.1rem;
}

.photoID {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-right: 25px;
}

#tempAPI {
    font-family: 'Kanit', sans-serif;
    font-size: 35px;
    color: white;
}

#weatherAPI {
    font-family: 'Kanit', sans-serif;
    font-size: 35px;
    color: white;
}

@media (max-width:360px) {
    body {
        width: 100%;
    }
}

@media (max-width:780px) {
    body {
        width: 100%;
    }
}
@media (max-width:480px) {
    body {
        width: 100%;
    }
}