body {
    background-image: url(../images/Blue-Backgrounds-HD-005.jpg);
    background-size: auto;
    background-repeat: repeat;
}

h1 {
    color: white;
}

nav {
width: auto;
}

.firstCol {
    align-content: center;
    width: 420px;
    height: 225px;
}

.secondCol {
    width: 150px;
    height: 225px;
}

p {
    text-align: center;
}
.card-header{
    font-family: 'Varela Round', sans-serif;
} 

.thirdCol {
    align-content: center;
    width: 720px;
    height: 405px;
}

.fourthCol {
    align-content: left;
    text-align: center;
    height: 100px;
    width: 400px;
}

.logo {
    font-family: 'Baloo Bhai', cursive;
}

.logo-right {
    font-family: 'Baloo Bhai', cursive;
    display: inline-block;
    margin-right: 50px;
    font-size: 2.1rem;
}

.photoID {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-right: 25px;
}

@media (max-width:360px) {
    body {
        width: 100%;
    }
}

@media (max-width:780px) {
    body {
        width: 100%;
    }
}